<svg:text id="text4020" y="783.25867" x="485.83084" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="783.25867" x="485.83084" id="tspan4022" sodipodi:role="line">
    {{ 'emotionsWheel.labels.disapproval' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text4024" y="783.25867" x="259.80963" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="783.25867" x="259.80963" id="tspan4026" sodipodi:role="line">
    {{ 'emotionsWheel.labels.remorse' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text4028" y="634.51447" x="86.573006" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="634.51447" x="86.573006" id="tspan4030" sodipodi:role="line">
    {{ 'emotionsWheel.labels.contempt' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text4032" y="634.51447" x="645.95966" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="634.51447" x="645.95966" id="tspan4034" sodipodi:role="line">
    {{ 'emotionsWheel.labels.awe' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text4036" y="426.41968" x="646.18182" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="426.41968" x="646.18182" id="tspan4038" sodipodi:role="line">
    {{ 'emotionsWheel.labels.submission' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text4040" y="280.99182" x="485.26688" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="280.99182" x="485.26688" id="tspan4042" sodipodi:role="line">
    {{ 'emotionsWheel.labels.love' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text4044" y="280.99182" x="260.32574" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="280.99182" x="260.32574" id="tspan4046" sodipodi:role="line">
    {{ 'emotionsWheel.labels.optimism' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text4048" y="426.41968" x="86.709724" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="426.41968" x="86.709724" id="tspan4050" sodipodi:role="line">
    {{ 'emotionsWheel.labels.aggressiveness' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3005" y="747.07471" x="371.58337" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="747.07471" x="371.58337" id="tspan3007" sodipodi:role="line">
    {{ 'emotionsWheel.labels.pensiveness' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3834" y="529.77484" x="132.39555" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="529.77484" x="132.39555" id="tspan3836" sodipodi:role="line">
    {{ 'emotionsWheel.labels.annoyance' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3838" y="529.72113" x="220.81152" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="529.72113" x="220.81152" id="tspan3840" sodipodi:role="line">
    {{ 'emotionsWheel.labels.anger' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3842" y="529.72113" x="279.92557" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="529.72113" x="290.92557" id="tspan3844" sodipodi:role="line">
    {{ 'emotionsWheel.labels.rage' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3889" y="437.68469" x="371.78845" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="437.68469" x="371.78845" id="tspan3891" sodipodi:role="line">
    {{ 'emotionsWheel.labels.ecstasy' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3893" y="377.84961" x="372.51599" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="377.84961" x="372.51599" id="tspan3895" sodipodi:role="line">
    {{ 'emotionsWheel.labels.joy' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3897" y="312.69971" x="371.74939" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="312.69971" x="371.74939" id="tspan3899" sodipodi:role="line">
    {{ 'emotionsWheel.labels.serenity' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3901" y="533.05121" x="457.83929" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="533.05121" x="450.83929" id="tspan3903" sodipodi:role="line">
    {{ 'emotionsWheel.labels.terror' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3905" y="533.67621" x="523.06689" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="533.67621" x="523.06689" id="tspan3907" sodipodi:role="line">
    {{ 'emotionsWheel.labels.fear' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3909" y="531.76703" x="620.96814" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="531.76703" x="620.96814" id="tspan3911" sodipodi:role="line">
    {{ 'emotionsWheel.labels.apprehension' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3913" y="474.99255" x="438.86487" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="474.99255" x="438.86487" id="tspan3915" sodipodi:role="line">
    {{ 'emotionsWheel.labels.admiration' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3917" y="413.98373" x="479.04443" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="413.98373" x="479.04443" id="tspan3919" sodipodi:role="line">
    {{ 'emotionsWheel.labels.trust' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3921" y="375.8981" x="526.04004" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="375.8981" x="526.04004" id="tspan3923" sodipodi:role="line">
    {{ 'emotionsWheel.labels.acceptance' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3925" y="474.99255" x="308.60794" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="474.99255" x="308.60794" id="tspan3927" sodipodi:role="line">
    {{ 'emotionsWheel.labels.vigilance' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3929" y="413.98373" x="269.24609" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="413.98373" x="269.24609" id="tspan3931" sodipodi:role="line">
    {{ 'emotionsWheel.labels.anticipation' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3933" y="375.8981" x="217.65088" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="375.8981" x="217.65088" id="tspan3935" sodipodi:role="line">
    {{ 'emotionsWheel.labels.interest' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3937" y="689.22803" x="220.03516" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="689.22803" x="220.03516" id="tspan3939" sodipodi:role="line">
    {{ 'emotionsWheel.labels.boredom' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3941" y="639.41943" x="263.64203" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="639.41943" x="263.64203" id="tspan3943" sodipodi:role="line">
    {{ 'emotionsWheel.labels.disgust' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3945" y="586.91602" x="309.92419" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="586.91602" x="309.92419" id="tspan3947" sodipodi:role="line">
    {{ 'emotionsWheel.labels.loathing' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3949" y="586.91602" x="439.40332" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="586.91602" x="439.40332" id="tspan3951" sodipodi:role="line">
    {{ 'emotionsWheel.labels.amazement' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3953" y="639.24658" x="481.68555" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="639.24658" x="481.68555" id="tspan3955" sodipodi:role="line">
    {{ 'emotionsWheel.labels.surprise' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3957" y="689.19678" x="524.28955" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="689.19678" x="524.28955" id="tspan3959" sodipodi:role="line">
    {{ 'emotionsWheel.labels.distraction' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3826" y="683.3999" x="371.92029" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="683.3999" x="371.92029" id="tspan3828" sodipodi:role="line">
    {{ 'emotionsWheel.labels.sadness' | translate }}
  </svg:tspan>
</svg:text>

<svg:text id="text3830" y="627.34827" x="371.40759" style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Tahoma;-inkscape-font-specification:Tahoma" xml:space="preserve">
  <svg:tspan y="627.34827" x="371.40759" id="tspan3832" sodipodi:role="line">
    {{ 'emotionsWheel.labels.grief' | translate }}
  </svg:tspan>
</svg:text>
