.fullscreen-center {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  max-width: 50rem;
  text-align: center;

  &__title {

  }

  &__message {
    margin-top: 0;
    font-size: 1.6rem;
  }

  &__message + &__message {
    margin-top: 0;
  }

  &__title + &__button,
  &__message + &__button {
    margin-top: 5rem;
  }
}
