/**
 * Photo sidebar
 */

photo-sidebar {
  display: block;
  width: $photo-sidebar-width;
  background-color: #f9f9f9;
  box-shadow: inset 1px -2px 3px rgba(0, 0, 0, 0.03), inset 1px -1px 2px rgba(0, 0, 0, 0.06);
}

.photo-sidebar {
  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    margin: 0;
    width: $photo-sidebar-width;
  }

  &__counter {
    position: absolute;
    bottom: 15px;
    right: 0;
    width: $photo-sidebar-width;
    font-size: 16px;
    text-align: center;
  }

  &__button + &__counter {
    bottom: 72px;
  }
}

.photo-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 250px;
  height: 250px;
  transform-origin: 50% 50%;

  &__image {
    display: block;
    width: 100%;
  }

  &.in-dropzone {
    overflow: hidden;
    border-radius: 50%;
  }

  &.is-hidden {
    visibility: hidden;
  }
}
