<div class="photo-sidebar__list">
  <div class="photo-item" *ngFor="#photo of photos" [attr.data-photo-id]="photo.id">
    <img src="{{photo.thumb}}" alt="{{photo.name}}" class="photo-item__image" />
  </div>
</div>

<div class="photo-sidebar__nav" *ngIf="navigationVisible">
  <button  class="photo-sidebar__nav-btn" light (click)="scrollPhotos(-1)" [disabled]="disableUp">
    <ion-icon name="arrow-up"></ion-icon>
  </button>

  <button  class="photo-sidebar__nav-btn" light (click)="scrollPhotos(1)" [disabled]="disableDown">
    <ion-icon name="arrow-down"></ion-icon>
  </button>
</div>

<button class="photo-sidebar__button" dark large full (click)="buttonClick($event)" *ngIf="showGalleryButton">
  <ion-icon name="images"></ion-icon>
  {{ 'photoSidebar.galleryButton' | translate }}
</button>
