/**
 * Emotions wheel
 */

emotions-wheel {
  width: calc(100% - #{$photo-sidebar-width});
}

.emotions-wheel__board {
  max-width: 720px;
  margin: 0 auto;

  svg {
    display: block;
    width: 100%;
  }

  path {
    opacity: 0.5 !important;
    stroke: none !important;
  }

  text {
    font-size: 1.6rem !important;
    font-family: 'Roboto', sans-serif !important;
  }
}
